:root {
    --color-background: #E1D4C9;
    --color-accent: #B0907A;
    --color-text-primary: #403F3D;
    --color-border-primary: #C1B6AD;
    --color-border-inverse: #665F55;

    --font-main: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html:has(dialog[open]) {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}