.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo__img {
  width: 100px;
  height: auto;
}

.navigation__list {
  display: none;
}

.navigation__link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 0.015rem + 3.093vw, 1.5rem);
}

.theme-switcher {
  width: 104px;
  height: 52px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--color-border-primary);
  border-radius: 100px;
}

.theme-switcher__button {
  flex: 0 0 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}

.theme-switcher__button--active {
  color: var(--color-background);
  background-color: var(--color-accent);
}

.theme-switcher__button--inactive {
  color: var(--color-text-primary);
  background: none;
}

.theme-switcher:hover {
  transform: scale(1.05);
}

.burger {
  display: flex;
  flex-direction: column;
  width: 44px;
  height: 44px;
  background: none;
  border: 1px solid var(--color-border-inverse);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.burger__line {
  width: 16px;
  height: 2px;
  background-color: var(--color-border-inverse);
}

.menu-link {
  display: none;
}

/* ================= MAIN PAGE ================= */
.hero__container {
  border-radius: 40px;
  background: url("../assets/images/img-hero.png") center center/cover no-repeat;
  display: flex;
}

.hero__content {
  max-width: clamp(19.75rem, 6.651rem + 55.155vw, 33.125rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-block: clamp(3.75rem, 1.302rem + 10.309vw, 6.25rem);
  margin-inline: clamp(1rem, -1.693rem + 11.34vw, 3.75rem);
}

.hero__title {
  color: var(--color-background);
  font-size: clamp(2.625rem, 0.789rem + 7.732vw, 4.5rem);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--color-accent);
  font-style: italic;
}

.hero__description {
  color: var(--color-background);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  padding-block: 20px;
  border-radius: 100px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}

.slider {
  padding: 100px 0;
}

.slider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: var(--color-text-primary);
}

.section-title {
  color: var(--color-text-primary);
  text-align: start;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.slider__title {
  text-align: center;
}

.slider__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slider__button {
  display: none;
}

.coffee-card {
  width: 480px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.coffee-card__image-wrapper {
  max-width: 480px;
}

.coffee-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.coffee-card__content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.coffee-card__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}

.coffee-card__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.coffee-card__price {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}

.slider__pagination {
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider__dot {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  border: none;
  background-color: var(--color-border-primary);
}

.slider__dot--active {
  background-color: var(--color-border-inverse);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__title {
  letter-spacing: 0.034em;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.gallery__image {
  border-radius: 20px;
}

.gallery__image--large {
  height: 590px;
}

.gallery__image--small {
  display: none;
}

.gallery__image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.gallery__image:hover {
  transform: scale(0.9);
}

.mobile-app {
  padding: 100px 0;
}

.mobile-app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2.5rem, -1.173rem + 15.464vw, 6.25rem);
}

.mobile-app__content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.mobile-app__description {
  color: var(--color-text-primary);
  line-height: 1.5;
  letter-spacing: 0.005rem;
}

.app-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.app-button {
  width: 200px;
  min-height: 64px;
  padding: 12px 20px;
  border: 1px solid var(--color-border-inverse);
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text-primary);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.app-button:hover {
  background-color: var(--color-border-inverse);
  color: var(--color-background);
}

.button-lable {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.button-text--small {
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 1.4;
}

.mobile-app__image {
  max-width: 630px;
  width: 100%;
  flex-shrink: 0;
}

.footer__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footer__title,
.footer__subtitle {
  color: var(--color-background);
  text-align: start;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__subtitle {
  color: var(--color-accent);
  font-style: italic;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials__link {
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-border-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.socials__link:hover {
  background-color: var(--color-background);
  color: var(--color-border-inverse);
}

.footer__contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.contacts__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts-item {
  display: flex;
  gap: 8px;
  height: 28px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.contacts-item--link:hover {
  border-color: var(--color-background);
}

.contacts-icon {
  width: 20px;
  height: 20px;
}