.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo__img {
  width: 100px;
  height: auto;
}

.navigation__list {
  display: none;
}

.navigation__link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 0.015rem + 3.093vw, 1.5rem);
}

.theme-switcher {
  width: 104px;
  height: 52px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--color-border-primary);
  border-radius: 100px;
}

.theme-switcher__button {
  flex: 0 0 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}

.theme-switcher__button--active {
  color: var(--color-background);
  background-color: var(--color-accent);
}

.theme-switcher__button--inactive {
  color: var(--color-text-primary);
  background: none;
}

.theme-switcher:hover {
  transform: scale(1.05);
}

.burger {
  display: flex;
  flex-direction: column;
  width: 44px;
  height: 44px;
  background: none;
  border: 1px solid var(--color-border-inverse);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.burger__line {
  width: 16px;
  height: 2px;
  background-color: var(--color-border-inverse);
}

.menu-link {
  display: none;
}

/* ================= MAIN PAGE ================= */
.hero__container {
  border-radius: 40px;
  background: url("../assets/images/img-hero.png") center center/cover no-repeat;
  display: flex;
}

.hero__content {
  max-width: clamp(19.75rem, 6.651rem + 55.155vw, 33.125rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-block: clamp(3.75rem, 1.302rem + 10.309vw, 6.25rem);
  margin-inline: clamp(1rem, -1.693rem + 11.34vw, 3.75rem);
}

.hero__title {
  color: var(--color-background);
  font-size: clamp(2.625rem, 0.789rem + 7.732vw, 4.5rem);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--color-accent);
  font-style: italic;
}

.hero__description {
  color: var(--color-background);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 200px;
  padding-block: 20px;
  border-radius: 100px;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

.hero__button:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
}

