.container {
  margin-inline: auto;
  width: 100%;
}

.header {
  min-height: 60px;
  margin-block: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: clamp(1rem, -0.469rem + 6.186vw, 2.5rem);
  gap: 40px;
  max-width: 1440px;
}

.main {
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
  padding-inline: clamp(1rem, -0.469rem + 6.186vw, 2.5rem);
}