@media (min-width: 768px) {
    .header__actions {
        margin-left: 2.75rem;
    }

    .hero__cup-icon {
        display: none;
    }

    .hero__content {
        margin-inline: clamp(3.75rem, 0.893rem + 5.952vw, 6.25rem);
    }

    .hero__title {
        line-height: 1.05;
    }

    .hero__description {
        letter-spacing: 0.005em;
    }
}

@media (min-width: 960px) {
    .navigation__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .burger {
        display: none;
    }

     .theme-switcher {
        width: 88px;
        height: 44px;
        padding: 4px;
    }

    .theme-switcher__button {
        flex: 0 0 36px;
        height: 36px;
    }

    .menu-link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
    }

    .menu__cup-icon {
        width: 20px;
        height: 20px;
    }
}